.title {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 80px;
	text-align: left;
	border-top: 5px solid rgb(206, 202, 202);
	width: 70vw;
	letter-spacing: 2px;
	display: flex;
	float: right;
	margin-right: 3rem;
	margin-top: 25vh;
}
